<!-- https://github.com/orestbida/cookieconsent -->
{% if site.cookie_consent %}
<script
  defer
  src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.2/dist/cookieconsent.js"
></script>

<script>
  window.addEventListener('load', function () {
    // obtain plugin
    var cc = initCookieConsent();

    // run plugin with your configuration
    cc.run({
      current_lang: 'en',
      autoclear_cookies: true, // default: false
      page_scripts: true, // default: false
      delay: 1000, // default: 0
      languages: {
        en: {
          consent_modal: {
            title: 'We use cookies!',
            description:
              'Hi, this website uses cookies for commenting service and web traffic analysis. <button type="button" data-cc="c-settings" class="cc-link">Show details</button>',
            primary_btn: {
              text: 'Accept all',
              role: 'accept_all', // 'accept_selected' or 'accept_all'
            },
            secondary_btn: {
              text: 'Reject all',
              role: 'accept_necessary', // 'settings' or 'accept_necessary'
            },
          },
          settings_modal: {
            title: 'Cookie preferences',
            save_settings_btn: 'Save settings',
            accept_all_btn: 'Accept all',
            reject_all_btn: 'Reject all',
            close_btn_label: 'Close',
            cookie_table_headers: [
              { col1: 'Name' },
              { col2: 'Domain' },
              { col3: 'Expiration' },
              { col4: 'Description' },
            ],
            blocks: [
              {
                description:
                  'We use cookies to ensure the basic functionalities of the website and to enhance your online experience. You can choose for each category to opt-in/out whenever you want. For more details relative to cookies and other sensitive data, please read the full <a href="{% link _pages/privacy.md %}" target="_blank" class="cc-link">privacy policy</a>.',
              },
              {
                title: 'Disqus cookies',
                description:
                  'We use <a href="https://disqus.com/" target="_blank" class="cc-link">Disqus</a> for comments, which installs cookies on your device for posting comments and keeping login information. For more details, see <a href="https://help.disqus.com/en/articles/1717103-disqus-privacy-policy" target="_blank" class="cc-link">Disqus privacy policy</a>. <br><span style="font-weight: 600; font-style: italic;">Note: if you disable this, you will not be able to comment on posts.</span>',
                toggle: {
                  value: 'disqus', // your cookie category
                  enabled: true,
                  readonly: false,
                },
                cookie_table: [
                  // list of all expected cookies
                  {
                    col1: 'disqusauth',
                    col2: 'disqus.com',
                    col3: '1 month',
                    col4: 'To post comments and have your Disqus login information remembered across pages.',
                  },
                  {
                    col1: '__jid',
                    col2: 'disqus.com',
                    col3: '1 hour',
                    col4: 'Tracking of using the comments platform Disqus.',
                  },
                  {
                    col1: 'disqus_unique',
                    col2: 'disqus.com',
                    col3: '1 year',
                    col4: 'Tracking of using the comments platform Disqus.',
                  },
                ],
              },
              {
                title: 'Google Analytics cookies',
                description:
                  'We use <a href="https://analytics.google.com/" target="_blank" class="cc-link">Google Analytics</a>, a web analysis service from Google. Google Analytics uses cookies to "remember" what you have done on previous pages / interactions with the website. For more details, see <a href="https://support.google.com/analytics/topic/2919631" target="_blank" class="cc-link">Google Data privacy and security policy</a>.',
                toggle: {
                  value: 'google-analytics', // your cookie category
                  enabled: false,
                  readonly: false,
                },
                cookie_table: [
                  // list of all expected cookies
                  {
                    col1: '^_ga',
                    col2: 'google.com',
                    col3: '2 years',
                    col4: 'Used by Google Analytics to collect data on the number of times a user has visited the website as well as dates for the first and most recent visit.',
                    is_regex: true,
                  },
                ],
              },
              {
                title: 'Baidu Analytics (百度统计) cookies',
                description:
                  'Similar to Google Analytics, we also use <a href="https://tongji.baidu.com/" target="_blank" class="cc-link">Baidu Analytics (百度统计)</a> for web traffic analysis. For more details, see <a href="https://tongji.baidu.com/web/help/article?id=330" target="_blank" class="cc-link">Baidu Analytics privacy policy</a>.',
                toggle: {
                  value: 'baidu-analytics', // your cookie category
                  enabled: false,
                  readonly: false,
                },
                cookie_table: [
                  // list of all expected cookies
                  {
                    col1: '^Hm_',
                    col2: 'baidu.com',
                    col3: '1 year',
                    col4: "Used to send data to Baidu about the visitor's device and behavior, and track the visitor across devices and marketing channels.",
                    is_regex: true,
                  },
                ],
              },

              {
                title: 'More information',
                description:
                  'For any queries in relation to our policy on cookies and your choices, please <a class="cc-link" href="mailto:{{ site.email }}">contact us</a>.',
              },
            ],
          },
        },
      },
    });
  });
</script>

{% endif %}
