<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  type="text/plain"
  data-cookiecategory="google-analytics"
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-DPKQ4V6HD7"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'G-DPKQ4V6HD7');
</script>

<script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement('script');
    hm.src = 'https://hm.baidu.com/hm.js?b1fb582c55e0a239c46f429d552383e7';
    hm.setAttribute('type', 'text/plain');
    hm.setAttribute('data-cookiecategory', 'baidu-analytics');
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
